body{
	margin-top: 70px;
}

.gravatar{
	border-radius: 10px;
}

.spa-login-box{
	margin-top: 150px;
}

.spa-container-btn-novo{
	padding-top: 25px;
}

.spa-container-btn-novo button{
	width: 100%;
}

.spa-user-item{
	cursor: pointer;
}

.spa-user-actions{
	display: none;
}

.spa-user-card-body{
	height: 145px;
}

.spa-user-form-image{
	position: absolute;
	right: 0; top: 50px;
}

.spa-user-form{
	position: relative;
}

/* Animacao adicional ao modal Bootstrap */
.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.3s ease-out !important;
    -o-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* Resize and reposition top*/

.bootbox-confirm > .modal-dialog{
	margin: 200px auto;
	width: 400px !important;
}

.modal-dialog{
	width: 65%;
	margin: 160px auto;
}