<!--Filters-->
<h3>Filtros</h3>
<div class="row">
	<div class="col-md-6">
		<form action="#">
			<div class="form-group">
				<label for="selectCity">filtre por Cidade</label>
				<!--Cidades são carregadas dinamicamente-->
				<select name="city_filter" class="form-control" multiple select2 source="http://spa.app/api/cities" property="city" placeholder="Selecione uma ou mais cidades" ng-model="filter_cities"></select>
			</div>
		</form>
	</div>
	<div class="col-md-4">
		<form action="#">
			<div class="form-group">
				<label for="selectOrdenacao">ordenar por</label>
				<select name="order_filter" class="form-control" placeholder="Selecione a ordenação" select2 ng-model="filter_orderBy" allowClear = "true">
					<option selected></option>
					<option value="fullname|asc">por Nome ascendente</option>
					<option value="fullname|desc">por Nome descendente</option>
					<option value="updated_at|asc">por Atualização ascendente</option>
					<option value="updated_at|desc">por Atualização descendente</option>
				</select>
			</div>
		</form>
	</div>
	<div class="col-md-2">
		<div class="form-group spa-container-btn-novo">
			<button class="btn btn-primary" data-toggle="modal" data-target="#userForm" ng-click="new()">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Criar novo usuário</button>
		</div>
	</div>
</div>
<!--/Filters-->