<div class="modal fade" id="userForm" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Gerenciamento de Usuário</h4>
      </div>
      <div class="modal-body">

		<form method="post" class="spa-user-form" ng-submit="save()">

			<img ng-src="{{user.gravatar}}" alt="{{user.fullname}}" width="200" class="spa-user-form-image" ng-if="user.gravatar">
			<img src="/img/placeholder.png" width="200" class="spa-user-form-image" ng-if="!user.gravatar">

			<h4>Todos os campos são de preenchimento obrigatório</h4>

			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label for="txtFullname">Nome Completo</label>
						<input type="text" autocomplete="off" class="form-control" name="fullname" id="txtFullname" required ng-model="user.fullname" autofocus>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="txtEmail">E-mail</label>
						<input type="email" autocomplete="off" class="form-control" name="email" id="txtEmail" required ng-model="user.email">
					</div>
				</div>
				<div class="col-md-offset-3"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="txtUsername">Usuário</label>
						<input type="text" autocomplete="off" class="form-control" name="username" id="txtUsername" required ng-model="user.username">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="txtPassword">Senha</label>
						<input type="password" class="form-control" name="password" id="txtPassword">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="txtPasswordConfirmation">Confirmação de Senha</label>
						<input type="password" class="form-control" name="password_confirmation" id="txtPasswordConfirmation">
					</div>
				</div>
				<div class="col-md-offset-3"></div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="txtCep">CEP</label>
						<input type="text" autocomplete="off" class="form-control" name="cep" id="txtCep" ng-model="user.zip">
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label for="txtCidade">Cidade</label>
						<input type="text" autocomplete="off" class="form-control" name="cidade" id="txtCidade" required ng-model="user.city">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="txtEstado">UF</label>
						<input type="text" autocomplete="off" class="form-control" name="estado" id="txtEstado" required ng-model="user.state">
					</div>
				</div>
				<div class="col-md-offset-3"></div>
			</div>
			<button type="submit" class="btn btn-primary hide">Salvar</button>
		</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="salvar()">Salvar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->