<div class="modal fade" id="userForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">

		<form action="#" class="spa-user-form">

			<img src="/img/ved_oficial_2015_headshot.jpg" alt="Fabio Vedovelli" width="200" class="spa-user-form-image">

			<h4>Todos os campos são de preenchimento obrigatório</h4>

			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label for="txtFullname">Nome Completo</label>
						<input type="text" class="form-control" name="fullname" id="txtFullname" required ng-model="user.fullname">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="txtEmail">E-mail</label>
						<input type="email" class="form-control" name="email" id="txtEmail" required ng-model="user.email">
					</div>
				</div>
				<div class="col-md-offset-3"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="txtUsername">Usuário</label>
						<input type="text" class="form-control" name="username" id="txtUsername" required ng-model="user.username">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="txtPassword">Senha</label>
						<input type="password" class="form-control" name="password" id="txtPassword" required>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="txtPasswordConfirmation">Confirmação de Senha</label>
						<input type="password" class="form-control" name="password_confirmation" id="txtPasswordConfirmation" required>
					</div>
				</div>
				<div class="col-md-offset-3"></div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="txtCep">CEP</label>
						<input type="text" class="form-control" name="cep" id="txtCep" required ng-model="user.cep">
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label for="txtCidade">Cidade</label>
						<input type="text" class="form-control" name="cidade" id="txtCidade" required ng-model="user.city">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="txtEstado">UF</label>
						<input type="text" class="form-control" name="estado" id="txtEstado" required ng-model="user.state">
					</div>
				</div>
				<div class="col-md-offset-3"></div>
			</div>

		</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->